@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom{

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;

}

.navbar{
    position: fixed;
  top: 0;
}


::-webkit-scrollbar{
  width: 0;
}

.edit-schroll{
  scrollbar-color: red orange
}

.shadow__btn {
  padding: 8px 8px;
  border: none;
  color: #fff;
  border-radius: 100%;


  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255),
              0 0 25px rgb(255, 255, 255),
              0 0 50px rgb(255, 255, 255),
              0 0 100px rgb(255, 255, 255);
}


.shadow_any{
  text-shadow: 0 0 25px rgb(255, 255, 255);
  transition: 0.3s;
  transition-property: text-shadow;
}

.shadow_any:hover{
  text-shadow: 0 0 5px rgb(255, 255, 255),
  0 0 25px rgb(255, 255, 255),
  0 0 50px rgb(255, 255, 255),
  0 0 100px rgb(255, 255, 255);
}